#header_decision, #header_problem {
    margin-left: 10%;
    color: #000;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.text {
    margin-left: 10%;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
#button_help {
    font-size: 24px;
    color: #fff;
    width: 285px;
    height: 52px;
    background: linear-gradient(105.8deg,#fff -29.8%,#83c9ea -29.79%,#0afb60 117.56%);
    border-radius: 15px;
    text-align: center;
    border: none;
    display: block;
    margin: 0 auto;
}